<div id="resultsPage" class="clearfix">

    <div id="filtersForm" class="antiscroll-wrap">
      <form role="form" action="services" method="get" class="antiscroll-inner">

        <input type="hidden" id="lat_lng" name="lat_lng"/>

        <div class="double-button-group">
          <a href="/services" rel="button" id="clearFilter" class="button clear btn btn-default">Clear filters</a>
          <button type="submit" id="doSearch" class="button right green btn btn-success">Search</button>
        </div>

        <div id="searchKeyword" class="form-group accordion">
          <label for="keywordSearch" class="label">Keywords
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" rel="tooltip" title="Search for services by common keywords"></span>
          </label>
          <input name="keyword" value="<%= params[:keyword] %>" id="keywordSearch" type="text" class="form-control" placeholder="eg. support groups">
        </div>

        <div id="searchOrganisation" class="form-group accordion">
          <label for="organisationName" class="label">Organisation Name
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" rel="tooltip" title="Search by organisation name if a particular service is of interest to you."></span>
          </label>
          <input id="organisationName" value="<%= params[:org_name] %>" name="org_name" type="text" class="form-control" placeholder="eg. ABC Nursery, ">
        </div>

        <div id="searchPlace" class="form-group">
          <label for="townVillage" class="label">Town or village
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" rel="tooltip" title="Search for services by town or village."></span>
          </label>
          <input name="location" id="townVillage" value="<%= params[:location] %>" type="text" class="form-control" placeholder="eg Alloa, Coalsnaughton, Tillicoultry">
        </div>

        <div id="selectCategories" class="form-group">
          <label class="label">Filter by category
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" rel="tooltip" title="Filter by category if you are looking for a particular type of service."></span>
          </label>
          <a href="#" class="selectAll button small btn btn-primary check">All</a>
          <ul class="checkBoxes" id = "category-filters">
            <% for category in CATEGORIES %>
              <li>
                <label>
                  <%= check_box_tag "category[]", category, @selected_categories.include?(category), class: "CKcheckbox", id: "category-#{category.parameterize}" %>
                  <%= category %>
                </label>
              </li>
            <% end %>
          </ul>
        </div>

        <div id="selectBudget" class="form-group radiobuttons">
          <label for="townVillage" class="label">Filter by fees
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" rel="tooltip" title="Do you want to show free"></span>
          </label>
          <p>
          <label style = "margin-right:1em;">All <%= radio_button_tag "is_paid", "all", !params[:is_paid].eql?("true"), id: "is_paid_all" %>
          </label>
          <!-- <label style = "margin-right:1em;">Free <%= radio_button_tag "is_paid", true %></label> -->
          <label>Paid <%= radio_button_tag "is_paid", true, params[:is_paid].eql?("true"), id: "is_paid_true" %></label>
          </p>
        </div>

        <div id="selectDays" class="form-group">
          <label for="townVillage" class="label">Days
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" rel="tooltip" title="Search services available on certain days."></span>
          </label>
          <a href="#" class="selectAll button btn-primary btn small check">Any</a>
          <ul class="checkBoxes" id="weekday-filters">
            <li>
              <label>
              <%= check_box_tag "weekdays[]", "1", @selected_days.include?("1"), class: "CKcheckbox", id: "weekday_1" %> Mon
              </label>
            </li>
            <li><label>
            <%= check_box_tag "weekdays[]", "2", @selected_days.include?("2"), class: "CKcheckbox", id: "weekday_2" %>Tue</label>
            </li>
            <li><label>
            <%= check_box_tag "weekdays[]", "3", @selected_days.include?("3"), class: "CKcheckbox", id: "weekday_3" %>Wed</label>
            </li>
            <li><label>
            <%= check_box_tag "weekdays[]", "4", @selected_days.include?("4"), class: "CKcheckbox", id: "weekday_4" %>Thu</label>
            </li>
            <li><label>
            <%= check_box_tag "weekdays[]", "5", @selected_days.include?("5"), class: "CKcheckbox", id: "weekday_5" %>Fri</label>
            </li>
            <li><label>
            <%= check_box_tag "weekdays[]", "6", @selected_days.include?("6"), class: "CKcheckbox", id: "weekday_6" %>Sat</label>
            </li>
            <li><label>
            <%= check_box_tag "weekdays[]", "7", @selected_days.include?("7"), class: "CKcheckbox", id: "weekday_7" %>Sun</label>
            </li>
          </ul>
        </div>

        <% if ENV['USE_AGE_RANGE'].present? %>
          <div id="selectAge" class="form-group">
            <label for="childrenAge" class="label">Age range
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true" rel="tooltip" title="Search for services by age group"></span>
            </label>
            <a href="#" class="selectAll button small">All</a>
            <br>
            <b>0</b><input id="childrenAge" name="age_range" type="text" class="span2" value="" data-slider-min="0" data-slider-max="16" data-slider-step="1" data-slider-value="<%= @selected_ages %>"/> <b>16</b>
          </div>
        <% end %>

        <div class="double-button-group bottom">
          <a href="/services" rel="button" id="clearFilter2" class="button clear btn btn-default">Clear filters</a>
          <button type="submit" id="doSearch2" class="button right green btn btn-success">Search</button>
        </div>
      </form>
    </div>

    <div id="resultsList" class="">
      <div class="double-button-group">
        <button type="submit" id="filterResults" class="btn-default button btn orange right"><span class="glyphicon glyphicon-search" aria-hidden="true" rel="tooltip" title="Enter your tip here"></span> Narrow results</button>
        <button type="submit" id="showMap" class="button clear btn btn-default"><span class="glyphicon glyphicon-map-marker" aria-hidden="true" rel="tooltip" title="Enter your tip here"></span> Map of results</button>
      </div>


        <% if @search.services.present? %>
          <div id="entries"><%= page_entries_info @search.results %></div>

            <ul id="searchResults">
              <% for service in @search.services %>
               <%= content_tag :li, id: "service-#{service.id}" do %>
                 <h3><a href=""><%= link_to service.name, "services/#{service.id}" %></a></h3>
                 <p>
                   <%= categories_for(service) %>
                   <%= age_range_for(service) %>
                 </p>
                 <%= addresses_for(service) %>
              <% end %>
              <% end %>
             </ul>

             <div id="pagResults" class="clearfix">
            <%= link_to_previous_page @search.results, "Previous", :params => params, class: "button btn blue btn-primary" %>
            <%= link_to_next_page @search.results, "More", :params => params, class: "button btn blue btn-primary more" %>
             </div>



        <% else %>
          <div id="noResults">
           <h4>No results were found for your search.</h4>
           <%= content_tag(:p, "Keyword(s): #{params[:keyword]}") if params[:keyword].present? %>
           <%= content_tag(:p, "Organisation name: #{params[:org_name]}") if params[:org_name].present? %>
           <%= content_tag(:p, "Near: #{params[:location]}") if params[:location].present? %>
           <p><b>Filtered by</b></p>
           <% str = pluralize(@selected_categories.size, "category", "categories") + ": #{@selected_categories.to_sentence}" %>
           <%= content_tag :p, str.downcase if params[:category].present? %>
           <%= content_tag :p, "Age: #{@selected_ages.join('~')}" unless @selected_ages.eql?([0,16]) %>
           <%= content_tag :p, "Weekday: #{array_to_weekdays(params[:weekdays]).to_sentence}" if params[:weekdays].present? %>
          </div>
        <% end %>

    </div>

    <div id="mapPanel"  class="">
      <div class="double-button-group">
        <button type="submit" id="filterResults" class="btn-default button btn orange right"><span class="glyphicon glyphicon-search" aria-hidden="true" rel="tooltip" title="Enter your tip here"></span> Narrow results</button>
        <button type="submit" id="showList" class="btn-default btn button"><span class="glyphicon glyphicon-th-list" aria-hidden="true" rel="tooltip" title="Enter your tip here"></span> List of results</button>
      </div>
      <div id="mapResults"></div>
    </div>

  </div>
</div>

<% content_for :footer do %>
  <%#= asset_path('marker-icon.png') %>
<% end %>

<% content_for :after_footer do %>
  <%= javascript_include_tag "bootstrap-slider" %>
  <%= javascript_include_tag "services" %>
<% end %>

<% content_for :footer_js do %>
  $(document).ready(function(){
    var map = initialiseMap('mapResults');

    <% unless @lat_lng.blank? %>
      map.panTo(L.latLng(<%= @lat_lng %>));
    <% end %>

    var locations = <%= @search.map_data.to_json.html_safe %>;
    var markers = addLocationsToMap(locations, map);
  });
<% end %>
