<div id="resultsPage" class="clearfix">

    <div id="filtersForm" class="">
      <form role="form" action="services" method="get">
        <div class="double-button-group">
          <button type="submit" id="clearFilter" class="button clear">Clear filters</button>
          <button type="submit" id="doSearch" class="button right green">Search</button>
        </div>

        <div id="searchKeyword" class="form-group accordion">
          <label for="keywordSearch" class="label">Keywords
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" rel="tooltip" title="Search for services by common keywords"></span>
          </label>
          <input name="keyword" id="keywordSearch" type="text" class="form-control" placeholder="eg. support groups">
        </div>

        <div id="searchOrganisation" class="form-group accordion">
          <label for="organisationName" class="label">Organisation Name
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" rel="tooltip" title="Search by organisation name if a particular service is of interest to you."></span>
          </label>
          <input id="organisationName" name="org_name" type="text" class="form-control" placeholder="eg. ABC Nursery, ">
        </div>

        <div id="searchPlace" class="form-group">
          <label for="townVillage" class="label">Town or village
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" rel="tooltip" title="Search for services by town or village."></span>
          </label>
          <input name="location" id="townVillage" type="text" class="form-control" placeholder="eg Alloa, Coalsnaughton, Tillicoultry">
        </div>

        <div id="selectCategories" class="form-group">
          <label class="label">Filter by category
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" rel="tooltip" title="Filter by category if you are looking for a particular type of service."></span>
          </label>
          <a href="#" class="selectAll button small check">All</a>
          <ul class="checkBoxes">
            <% for category in CATEGORIES %>
              <li>
                <label>
                  <%= check_box_tag "category[]", category, @selected_categories.include?(category), class: "CKcheckbox", id: "category-#{category.parameterize}" %>
                  <%= category %>
                </label>
              </li>
            <% end %>
          </ul>
        </div>

        <div id="selectBudget" class="form-group">
          <label for="townVillage" class="label">Budget per session
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" rel="tooltip" title="Enter your tip here"></span>
          </label>
          <a href="#" class="selectAll button small">Only free stuff</a>
          <a href="#" class="selectAll button small">Any</a>

          <br>
          <b>&pound;0</b> <input id="yourBudget" type="text" class="span2" value="" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="[0,20]"/> <b>&pound;20</b>
        </div>

        <div id="selectDays" class="form-group">
          <label for="townVillage" class="label">Days
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" rel="tooltip" title="Search services available on certain days."></span>
          </label>
          <a href="#" class="selectAll button small check">Any</a>
          <ul class="checkBoxes">
            <li>
              <label>
              <%= check_box_tag "weekdays[]", "0", @selected_days.include?("0"), class: "CKcheckbox", id: "weekday_0" %> Mon
              </label>
            </li>
            <li><label>
            <%= check_box_tag "weekdays[]", "1", @selected_days.include?("1"), class: "CKcheckbox", id: "weekday_1" %>Tue</label>
            </li>
            <li><label>
            <%= check_box_tag "weekdays[]", "2", @selected_days.include?("2"), class: "CKcheckbox", id: "weekday_2" %>Wed</label>
            </li>
            <li><label>
            <%= check_box_tag "weekdays[]", "3", @selected_days.include?("3"), class: "CKcheckbox", id: "weekday_3" %>Thu</label>
            </li>
            <li><label>
            <%= check_box_tag "weekdays[]", "4", @selected_days.include?("4"), class: "CKcheckbox", id: "weekday_4" %>Fri</label>
            </li>
            <li><label>
            <%= check_box_tag "weekdays[]", "5", @selected_days.include?("5"), class: "CKcheckbox", id: "weekday_5" %>Sat</label>
            </li>
            <li><label>
            <%= check_box_tag "weekdays[]", "6", @selected_days.include?("6"), class: "CKcheckbox", id: "weekday_6" %>Sun</label>
            </li>
          </ul>
        </div>

        <div id="selectAge" class="form-group">
          <label for="childrenAge" class="label">Age of children
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true" rel="tooltip" title="Search for services by age group"></span>
          </label>
          <a href="#" class="selectAll button small">All</a>
          <br>
          <b>0</b><input id="childrenAge" name="age_range" type="text" class="span2" value="" data-slider-min="0" data-slider-max="16" data-slider-step="1" data-slider-value="[0,16]"/> <b>16</b>
        </div>
        <div class="double-button-group">
          <button type="submit" id="clearFilter" class="button clear">Clear filters</button>
          <button type="submit" id="doSearch" class="button right">Search</button>
        </div>
      </form>
    </div>

    <div id="resultsList" class="">
      <div class="double-button-group">
        <button type="submit" id="filterResults" class="button orange right"><span class="glyphicon glyphicon-search" aria-hidden="true" rel="tooltip" title="Enter your tip here"></span> Narrow results</button>
        <button type="submit" id="showMap" class="button"><span class="glyphicon glyphicon-map-marker" aria-hidden="true" rel="tooltip" title="Enter your tip here"></span> Map of results</button>
      </div>

      <ul id="searchResults">

        <% if @search.services.present? %>
          <% for service in @search.services %>

            <%= content_tag :li, id: "service-#{service.id}" do %>
              <h3><a href=""><%= link_to service.name, "services/#{service.id}" %></a></h3>
              <p>
                <%= categories_for(service) %>
                <%= age_range_for(service) %>
              </p>
              <%= addresses_for(service) %>
            <% end %>

          <% end %>
        <% else %>
          <h4>No results were found for the following search.</h4>
          <%= content_tag(:p, "Keyword(s): #{params[:keyword]}") if params[:keyword].present? %>
          <%= content_tag(:p, "Organisation name: #{params[:org_name]}") if params[:org_name].present? %>
          <%= content_tag(:p, "Near: #{params[:location]}") if params[:location].present? %>
          <p><b>Filtered by</b></p>
          <% str = pluralize(@selected_categories.size, "category", "categories") + ": #{@selected_categories.to_sentence}" %>
          <%= content_tag :p, str.downcase if params[:category].present? %>
          <%= content_tag :p, "Ages #{params[:age_range]}" if params[:age_range].present? %>
          <%#= content_tag :p, "Ages #{params[:age_range]}" if params[:age_range].present? %>
        <% end %>

      </ul>
    </div>

    <div id="mapPanel"  class="">
      <div class="double-button-group">
        <button type="submit" id="filterResults" class="button orange right"><span class="glyphicon glyphicon-search" aria-hidden="true" rel="tooltip" title="Enter your tip here"></span> Narrow results</button>
        <button type="submit" id="showList" class="button"><span class="glyphicon glyphicon-th-list" aria-hidden="true" rel="tooltip" title="Enter your tip here"></span> List of results</button>
      </div>
      <div id="mapResults"></div>
    </div>

  </div>
</div>

<% content_for :footer do %>
  <%#= asset_path('marker-icon.png') %>
<% end %>

<% content_for :after_footer do %>
  <%= javascript_include_tag "leaflet" %>
  <%= javascript_include_tag "bootstrap-slider" %>
  <%= javascript_include_tag "services" %>
<% end %>

<% content_for :footer_js do %>
  $(document).ready(function(){
    var map = initialiseMap();
    var locations = <%= @search.map_data.to_json.html_safe %>;
    var markers = addLocationsToMap(locations, map);
    console.log(markers);
  });
<% end %>
