<% service = @search.services.first %>

<div id="servicePage" class = "container">

  <section id="serviceHeader" class="col-md-12">

    <script> document.write('<a href="' + document.referrer + '" class="backButton" >&laquo; Back to search</a>'); </script>

    <h1 class="serviceTitle"><%= service.name %> <%= "(#{service.alternate_name})" unless service.alternate_name.blank? %></h1>
    <h2 class="organisationName"><%= service.organization.website.blank? ? service.organization.name : link_to(service.organization.name, service.organization.website) %></h2>
  </section>

  <% unless @issues.blank? %>
    <h3>Issues!</h3>
    <p>This entry has been marked as: </p>
    <ul>
      <% for issue in @issues %>
        <li><%= "#{issue.reason.capitalize} #{time_ago_in_words(issue.updated_at)} ago." %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="col-md-6">

    <section id="serviceAbout">

      <h3>About</h3>
      <p><%= service.description %></p>

    </section>

    <section id="serviceContact">

      <h3>Contact</h3>

      <% unless service.email.blank? %>
        <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:<%= service.email %>"><%= service.email %></a></p>
      <% end %>

      <% unless service.website.blank? %>
        <p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <%= link_to service.website, service.website %></p>
      <% end %>

    </section>

    <section id="serviceDetails">

      <h3>Details</h3>

      <table>

      <% unless service.audience.blank? %>
      <tr>
       <th>Audience:</th>
       <td><%= service.audience %></td>
      </tr>
      <% end %>

      <% unless service.eligibility.blank? %>
      <tr>
       <th>Eligibility:</th>
       <td> <%= service.eligibility %></td>
      </tr>
      <% end %>

      <% if age_range_for(service) %>
      <tr>
       <th>Age range: </th>
       <td><%= age_range_for(service) %></td>
      </tr>
      <% end %>

      <% unless service.languages.blank? or service.languages.size.eql?(1)  %>
        <tr>
         <th>Languages used:</th>
         <td><%= service.languages.to_sentence %></td>
        </tr>
      <% end %>

      <% unless service.how_to_apply.blank? %>
        <tr>
          <th>How to apply:</th>
          <td><%= service.how_to_apply %></td>
        </tr>
      <% end %>

      <% unless service.required_documents.blank? %>
        <tr>
         <th>Documents required:</th>
         <td> <%= required_documents.join(", ") %></td>
        </tr>
      <% end %>

      <% unless service.fees.blank? %>
        <tr>
         <th>Fees:</th>
         <td><%= service.fees %></td>
        </tr>
        <tr>
         <th>Payable by: </th>
         <td><%= service.accepted_payments.to_sentence %></td>
        </tr>
      <% end %>

      <% unless service.wait.blank? %>
        <tr>
         <th>Waiting list:</th>
         <td><%= service.wait %></td>
        </tr>
      <% end %>

      </table>

    </section>

    <section id="serviceSchedule">

    <h3>Service schedule</h3>
    <% for availability in service.availabilities %>

      <% unless availability.notes.blank? %>
        <p><%= availability.notes %></p>
      <% end %>

      <div class="serviceOpen">

      <% unless availability.regular_schedules.blank? %>
      <h5><%= service.name %> times</h5>
      <table id="serviceOpenTimes">
      <% for schedule in availability.regular_schedules %>
        <tr>
          <td><%= schedule.weekday %></td> <td><%= schedule.opens_at.strftime('%H:%M') %> ~ <%= schedule.closes_at.strftime('%H:%M') %></td>
        </tr>
      <% end %>
      </table>
      <% end %>

      </div>

      <% unless availability.holiday_schedules.blank? %>
      <div class="serviceClosed">
        <h5><span class="fa fa-exclamation-triangle" aria-hidden="true"></span> This service will be closed on</h5>
        <ul>
        <% for schedule in availability.holiday_schedules %>
          <li>
            <%= schedule.start_date.strftime('%d %b') %> ~
            <%= schedule.end_date.strftime('%d %b') %>
          </li>
        <% end %>
        </ul>
      </div>
      <% end %>

      <% unless availability.location.contacts.blank? %>
      <h4>Contacts</h4>
      <% for contact in availability.location.contacts %>
        <p><%= "#{contact.department} #{contact.title}, #{contact.name}" %></p>
        <% for phone in contact.phones %>
          <p><span class="glyphicon glyphicon-earphone"></span> <%= "#{phone.department} (#{phone.number_type}):" %> <%= phone.number %> <%= "(#{phone.extension})" if phone.extension %></p>
        <% end %>
      <% end %>
      <% end %>

      <% unless availability.location.mail_address.blank? %>
        <h4>Contact Address</h4>
        <p><%= availability.location.mail_address.attention %></p>
        <p><%= full_address_for(availability.location.mail_address) %></p>
      <% end %>

    <% end %>

    </div>

  <div class="col-md-6">

   <section id="venueDetails">
    <h3>Find this service at</h3>
    <% for availability in service.availabilities %>

      <h4><%= availability.location.name %>
      <% unless availability.location.alternate_name.blank? %>
      <span><%= "(#{availability.location.alternate_name})" %></span>
      <% end%>
      </h4>

      <p><%= availability.location.description %></p>

      <% unless availability.location.accessibility.blank? %>

        <p>Accessibility features:</p>
        <ul>
          <% for feature in availability.location.accessibility %>
            <li><%= feature %></li>
          <% end %>
        </ul>

      <% end %>

      <% unless availability.location.transportation.blank? %>
        <p><span class="fa fa-bus" aria-hidden="true"></span> <%= availability.location.transportation %></p>
      <% end %>

      <% for phone in availability.location.phones %>
        <p><span class="fa fa-phone-square" aria-hidden="true"></span> <%= "#{phone.department} (#{phone.number_type}):" %> <%= phone.number %> <%= "(#{phone.extension})" if phone.extension %></p>
      <% end %>

      <% unless availability.location.address.blank? %>
        <p><span class="fa fa-map-marker" aria-hidden="true"></span> <%= full_address_for(availability.location.address) %></p>
      <% end %>

    <% end %>

   </section>

<div id="flagIssue">
  <h3>Flag an issue</h3>
  <p>Do you see something wrong with this listing?</p>
  <%= form_for @issue, :url => service_issues_path(service.id) do |f| %>
    <p>
      <%= f.label :email %><br/>
      <%= f.text_field :email, placeholder: "your email e.g. me@myeeamil.com", class: 'form-control' %>
    </p>
    <p>
      <%= f.label :reason %>
      <%= f.select :reason, Issue.reason.options, { include_blank: true }, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :description %><br/>
      <%= f.text_area :description, class: 'form-control' %>
    </p>
    <div class="actions clearfix">
      <%= f.hidden_field :service_timestamp, value: service.update_at.to_i  %>
      <%= f.submit "Send issue", class: 'btn-default button btn orange' %>
    </div>
  <% end %>
</div>

</div>

<!-- :status -->

</div>

<% content_for :footer_js do %>
  $(document).ready(function(){
    var map = initialiseMap('serviceMap');
    <% unless service.availabilities.blank? %>
      var locations = <%= @search.map_data.to_json.html_safe %>;
      var markers = addLocationsToMap(locations, map);
      map.panTo(markers[Object.keys(markers)[0]].marker.getLatLng());
    <% end %>
  });
<% end %>
