<div style = "background-color:white;">
<h1><%= @service.name %> <%= "(#{@service.alternate_name})" unless @service.alternate_name.blank? %></h1>

<h2><%= link_to @service.organization.name, @service.organization.website %></h2>

<!-- :service_areas, :status -->

<p><%= @service.description %></p>

<h3>Contact</h3>

<% unless @service.email.blank? %>
  <p>Email: <%= @service.email %></p>
<% end %>

<% unless @service.website.blank? %>
  <p>Website: <%= link_to @service.website, @service.website %></p>
<% end %>

<h3>Details</h3>

<% unless @service.audience.blank? %>
  <p>Audience: <%= @service.audience %></p>
<% end %>

<% unless @service.eligibility.blank? %>
  <p>Eligibility: <%= @service.eligibility %></p>
<% end %>

<% if age_range_for(@service) %>
  <p><%= age_range_for(@service) %></p>
<% end %>

<% unless @service.languages.blank? or @service.languages.size.eql?(1)  %>
  <p>Languages used: <%= @service.languages.to_sentence %></p>
<% end %>

<% unless @service.how_to_apply.blank? %>
  <p>How to apply: <%= @service.how_to_apply %></p>
<% end %>

<% unless @service.required_documents.blank? %>
  <p>Documents required: <%= required_documents.join(", ") %></p>
<% end %>

<% unless @service.fees.blank? %>
  <p>Fees: <%= @service.fees %></p>
  <p>Payable by: <%= @service.accepted_payments.to_sentence %></p>
<% end %>

<% unless @service.wait.blank? %>
  <p>Waiting list: <%= @service.wait %></p>
<% end %>

<hr/>

<h3>Available at</h3>
<% for availability in @service.availabilities %>

  <h4><%= availability.location.name %> <%= "(#{availability.location.alternate_name})" %></h4>
  <p><%= availability.location.description %></p>

  <% unless availability.location.address.blank? %>
    <p><%= full_address_for(availability.location.address) %></p>
  <% end %>

  <% unless availability.location.transportation.blank? %>
    <p><%= availability.location.transportation %></p>
  <% end %>

  <% for phone in availability.location.phones %>
    <p><%= "#{phone.department} (#{phone.number_type}):" %> <%= phone.number %> <%= "(#{phone.extension})" if phone.extension %></p>
  <% end %>

  <% unless availability.regular_schedules.blank? %>
  <h4><%= @service.name %> times</h4>
  <ul>
  <% for schedule in availability.regular_schedules %>
    <li>
      <%= schedule.weekday %> <%= schedule.opens_at.strftime('%H:%M') %> ~ <%= schedule.closes_at.strftime('%H:%M') %>
    </li>
  <% end %>
  </ul>
  <% end %>

  <% unless availability.holiday_schedules.blank? %>
  <h4><%= @service.name %> closed times</h4>
  <ul>
  <% for schedule in availability.holiday_schedules %>
    <li>
      <%= schedule.start_date.strftime('%d %b') %> ~
      <%= schedule.end_date.strftime('%d %b') %>
    </li>
  <% end %>
  </ul>
  <% end %>

  <% unless availability.location.contacts.blank? %>
  <h4>Contacts</h4>
  <% for contact in availability.location.contacts %>
    <p><%= "#{contact.department} #{contact.title}, #{contact.name}" %></p>
    <% for phone in contact.phones %>
      <p><%= "#{phone.department} (#{phone.number_type}):" %> <%= phone.number %> <%= "(#{phone.extension})" if phone.extension %></p>
    <% end %>
  <% end %>
  <% end %>

  <% unless availability.location.mail_address.blank? %>
    <h4>Contact Address</h4>
    <p><%= availability.location.mail_address.attention %></p>
    <p><%= full_address_for(availability.location.mail_address) %></p>
  <% end %>

<% end %>
</div>